<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="flash-message" class="flash-message">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <a href="#close" class="close-button">&times;</a>
        </div>
    {% endif %}
    {% endwith %}

    <form action="/" method="post">
      <label for="sort">Sort by:</label>
      <input list="sort" name="sort_by" id="sort_by" placeholder="author, title or publication year">
      <datalist id="sort">
        <option value="author">Author Name</option>
        <option value="title">Book Title</option>
        <option value="year">Year of Publication</option>
      </datalist>
      <input type="submit" value="Sort" name="sort_by">
    </form>
    <form action="/search" method="get">
      <label for="search">Search:</label>
      <input type="text" name="query" id="search" placeholder="search for book or author">
      <input type="submit" value="Search">
    </form>
    <div class="action-buttons">
        <a href="/add_book" class="button">Add Book</a>
        <a href="/add_author" class="button">Add Author</a>
    </div>

    <div class="books-container">
      {% for book in books %}
      <div>
        <a href="/book/{{ book['id'] }}">
          <h3>{{ book['title'] }}</h3>
        </a>
        <a href="/author/{{ book['author_id'] }}">
          <p>{{ book['author'] }}</p>
        </a>
        <a href="/book/{{ book['id'] }}">
          <img class="book-cover" src="{{ book['thumbnail'] }}" title="{{ book['title'] }}"/>
        </a>

        <form action="/book/{{ book['id'] }}/delete" method="post" style="display:inline;" class="delete-form">
        <input type="hidden" name="book_id" value="{{ book['id'] }}">
        <input type="submit" value="Delete" class="delete-button">
        </form>
      </div>
      {% endfor %}
    </div>

  </body>
</html>